ion-content ion-toolbar {
  --background: translucent;
}

body {
  color: #333;
  font-family: 'Roboto Light' !important;
  font-size: 14px;
  line-height: 20px;
}

.background-span {
  background-color: #f4f4f4;  /* css js */
  border: none;
  color: white;
  font-size: 12pt;  /* css js */
  font-weight: 400;
  line-height: 48px;  /* css js */
  overflow: hidden;
  padding-left: 16px;
  text-align: left;
}

.button-back, .button-next {
  background-color: transparent;
  color: #727272;
  height: 100%;
  position: absolute;
  top: 0px;
}
.button-back {
  left: 0px;
}

.button-next {
  right: 0px;
}